# Nuxt
.nuxt/
.output/
dist/

# Node
node_modules/
*.log
.env

# Rust/Tauri
src-tauri/target/
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Version Shortcuts
.github/Cargo - Verknüpfung.lnk
.github/package - Verknüpfung.lnk
.github/tauri.conf - Verknüpfung.lnk
